html
{
	-webkit-font-smoothing: antialiased;
}

body {
	color: white;
	background-image: url('../img/tiles/cartographer.png');
	/*
	background: -moz-linear-gradient(top, #171717, #0F0F0F);
	background: -webkit-linear-gradient(top, #171717, #0F0F0F);
	background: -ms-linear-gradient(top, #171717, #0F0F0F);
	background: -o-linear-gradient(top, #171717, #0F0F0F);
	background: linear-gradient(top, #171717, #0F0F0F);
	*/
}

.navbar .nav,
.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

 .navbar-inner {
    text-align:center;
}

.navicon {
	margin: 3px 0 3px 0;
}

.banner {
	min-height:600px; 
	height: 80%;
	width: 100%;
	position: absolute;
	vertical-align: top;
}

#home {
	margin-top: -1%;
}

#about {
	margin-top: -1%;
}

#projects {
	margin-top: 20%;
}

#resume {
	margin-top: 20%;
}

#bio {
	width: 100%;
	text-align: center;
	font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
	color: #fff;
	font-size: 72px;
	font-weight: 700;
	text-shadow: #111 0 0 10px;
	letter-spacing: -1px;
	position: relative;
    margin-top: 8%;
    line-height: 60px;
}

#bio p {
	font-weight: 400px;
	font-size: 21px;
}

#bio-summary {
	display: inline-block;
	font-size: 18px;
}

#bio-summary span {
	padding: 0 10px 0 10px;
}

#bio-summary i {
	margin: 5px 5px 0 0;
}

#bio-summary a {
    outline: 0;
    text-decoration: none;
}

#bio-summary a:link {
    color: #FFF;
}

#bio-summary a:visited {
    color: #FFF;
}

#bio-summary a:hover {
    color: #0099FF;
}

#bio-summary a:active {
    color: #FFF;
}

#picture-frame
{
	position: relative;
	margin: auto;
	text-align: center;
	border-radius: 100%;
	margin-top: 10px;
	height:256px;
	width:256px;
}

#profile-tray
{
	display: inline-block;
	position: relative;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

#profile-tray img {
	padding: 0 2px 0 2px;
}

#profile-tray img:hover {
	opacity: 0.4;
	filter:alpha(opacity=40);
}

#profile-tray img {
	width: 65px;
	height: auto;
}

.container 
{
	width: 100%;
	text-align: center;
	font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
	color: #fff;
	font-weight: 700;
	text-shadow: #111 0 0 10px;
	letter-spacing: -1px;
	position: relative;
    line-height: 60px;
}

.container p
{
	font-size: 2em;
	font-weight: normal;
	margin: 20px 25% 0 25%;
	text-align: left;
	line-height: 1.25;
}

.container ul
{
	margin-left: 5%;
}

#footer {
	background: #000;
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%;
}

.container table {
	text-align: center;
	margin: 2% auto 0 auto;
}

.container table td {
	width: 500px;
	height: auto;
	padding: 15px;
}

.container table td img {
	border-radius: 20px;
}

.container table td img {
	border-radius: 20px;
}
 
.glow:hover {
	border: 5px solid #E6C200;
	margin: -5px;
}

#resume {
	margin: 2% auto 0 auto;
	width: 70%;
	height: auto;
	border-radius: 20px;
}

#resume .btn
{
	letter-spacing: .75px;
	position:absolute; top:1%; left:50%;
	margin-left: -40px;
}